@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&family=Zen+Old+Mincho&display=swap');

header {
  font-family: 'Zen Antique', Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 150px 150px 1fr 1fr;
  column-gap: 10px;
  background-color: white;
  color: #275752;
}
#logo-home{
  grid-column: 2/4;
  width: 300px;
  height: 300px;
}
#logo{
  width: 350px;
  height: 350px;
}
.b-discription{
  grid-column: 2;
  grid-row: 3;
  text-align: left;
}
.w-title{
  grid-row: 1;
  grid-column: 5;
  text-align: center;
  margin: 0;
}
.w-text{
  grid-column: 5/6;
  grid-row: 2;
}
nav{
  grid-column: 1/3;
  grid-row: 4
}
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #212D40;
    font-family: 'Zen Old Mincho', Helvetica, sans-serif;
 
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #b08968;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #212D40;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #b08968;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
body{
  margin: 0;
}
  /*main part of home page*/
main{
    display: grid;
    grid-template-columns: repeat(1fr, 5);
    grid-gap: 10px;
    font-size: 16px;
    font-family: 'Zen Old Mincho', Helvetica, sans-serif;
    background-color: #ddb892;
    max-width: 100%;
    padding-bottom: 50px;
    padding-right: 10px;
  }
  .why{
    grid-column: 1/7;
    font-size: 20px;
    padding: 10px;
  }
.home{
  grid-column: 2/3;
  grid-row: 2/5;
  background-color: #275752;
  text-align: center;
  color: whitesmoke;
  box-shadow: 5px 10px 5px black;
}
.home .explaination{
  padding: 10px;
}
.food{
  grid-column: 3/4;
  grid-row: 3/6;
  background-color: #275752;
  text-align: center;
  height: 100%;
  color: whitesmoke;
  box-shadow: 5px 10px 5px black;
}
.food img{
  padding: 10px;
}
.food .explaination{
  padding: 10px;
}
.amazon{
  grid-column: 4/5;
  grid-row: 2/5;
  background-color: #275752;
  text-align: center;
  color: whitesmoke;
  box-shadow: 5px 10px 5px black;
}
.amazon img{
  padding-top: 10px;
}
.amazon .explaination{
  padding: 10px;
}
.clothes{
  grid-column: 5/6;
  grid-row: 3/6;
  background-color: #275752;
  text-align: center;
  color: whitesmoke;
  box-shadow: 5px 10px 5px black;
}
.clothes img{
  padding-top: 10px;
}
.clothes .explaination{
  padding: 10px;
}
.tech{
  grid-column: 6/7;
  grid-row: 2/5;
  background-color: #275752;
  text-align: center;
  color: whitesmoke;
  box-shadow: 5px 10px 5px black;
}
.tech .explaination{
  padding: 10px;
}
footer{
  background-color: #7f5539;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
footer a{
  color: black;
  text-decoration: none;
}
#instagram{
  width: 50px;
  height: 50px;
  padding: 10px;
}
/*Pages css*/
.pages_header{
  font-family: 'Zen Antique', Helvetica, sans-serif;
  background-color: white;
  color: #275752;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
}
.pages_navbar {
  overflow: hidden;
  background-color: #212D40;
  font-family: 'Zen Old Mincho', Helvetica, sans-serif;

}

/* Links inside the navbar */
.pages_navbar a {
  float: left;
  font-size: 16px;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: whitesmoke;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.pages_navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #b08968;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #212D40;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #b08968;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.pages{
  display: grid;
  grid-template-columns: 55px 1fr 1fr 55px;
}
.ig-title{
  text-align: center;
  padding-top: 90px;
  background-color: #7f5539;
  padding-bottom: 10px;
  grid-column: 2/5;
  font-size: 28px;
  width: 1208px;
}
.p-content{
  text-align: justify;
  padding: 100px;
  background-color: #275752;
  font-family: 'Zen Old Mincho', Helvetica, sans-serif;
  font-size: 22px;
  color: rgb(229, 226, 226);
  grid-column: 1/4;
  grid-row: 2;
}
.latest-post{
  text-align: center;
  padding-top: 50px;
  grid-row: 3;
  grid-column: 1/5;
}
.latest-post h3{
  margin: 0;
}
.button{
  margin: 15px;
}
/*about me page*/
main{
  display: grid;
  grid-template-columns: 3/4 1/8 1/8;
}
.ab-content{
  grid-column: 1/2;
  text-align: justify;
  padding: 100px;
  margin-left: 15px;
  background-color: #275752;
  font-size: 'Zen Old Mincho', Helvetica, sans-serif;
  color: whitesmoke;
  box-shadow: 5px 5px 10px black;
  line-height: 30px;
} 
.ab-im-bg{
  grid-column: 2/5;
  grid-row: 1;
  background-color: #212D40;
  width: 350px;
  height: 550px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 10px black;
}
.ab-im{
  grid-column: 3;
  grid-row: 1;
  padding-top: 70px;
  align-items: center;
  height: 470px;
}
.ab-content a{
  color: whitesmoke;
}
/*loreview page*/
#hero{
  display: grid;
  grid-template-columns: 100%;
  margin-top: -100px;
}
#hero-img{
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  z-index: 0;
}

